SanalMuze/SanalMuze/Service References/MetarialService/GetMeterialDetails.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetMaterialsDetails">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="inID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetMaterialsDetailsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetMaterialsDetailsResult" type="tns:ArrayOfMaterial" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfMaterial">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Material" nillable="true" type="tns:Material" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Material">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Type" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ImageFilePath" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Description" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="WhoAdded" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="AddedDate" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="IsActive" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="DeletionDate" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetMaterialsDetailsSoapIn">
    <wsdl:part name="parameters" element="tns:GetMaterialsDetails" />
  </wsdl:message>
  <wsdl:message name="GetMaterialsDetailsSoapOut">
    <wsdl:part name="parameters" element="tns:GetMaterialsDetailsResponse" />
  </wsdl:message>
  <wsdl:portType name="GetMeterialDetailsSoap">
    <wsdl:operation name="GetMaterialsDetails">
      <wsdl:input message="tns:GetMaterialsDetailsSoapIn" />
      <wsdl:output message="tns:GetMaterialsDetailsSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="GetMeterialDetailsSoap" type="tns:GetMeterialDetailsSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetMaterialsDetails">
      <soap:operation soapAction="http://tempuri.org/GetMaterialsDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="GetMeterialDetailsSoap12" type="tns:GetMeterialDetailsSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetMaterialsDetails">
      <soap12:operation soapAction="http://tempuri.org/GetMaterialsDetails" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="GetMeterialDetails">
    <wsdl:port name="GetMeterialDetailsSoap" binding="tns:GetMeterialDetailsSoap">
      <soap:address location="http://localhost:35100/GetMeterialDetails.asmx" />
    </wsdl:port>
    <wsdl:port name="GetMeterialDetailsSoap12" binding="tns:GetMeterialDetailsSoap12">
      <soap12:address location="http://localhost:35100/GetMeterialDetails.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>